.first{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    background-image: url('../assets/img/home.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.second{
    height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third{
    height: 100vh;
    background-color: burlywood;
}
.first-inner{
    display: flex;
    justify-content: center;
    align-items: center;

}
.texthome{
    position: absolute;
    top: 15%;
    font-size: 11rem;
    background-color: aqua;
}
.coverimghome{
    position: absolute;
    z-index: 1;
    width: 100%;
}


/* mobile Screens and tab */
@media (max-width:768px) {
    .coverimghome{
        width: 200%;
    }
    .texthome{
        font-size: 7rem;
    }
}
@media (max-width:426px) {
    .coverimghome{
        width: 430%;
    }
    .texthome{
        font-size: 6rem;
    }
}
@media (max-width:376px) {
    .coverimghome{
        width: 400%;
    }
    .texthome{
        font-size: 5rem;
    }
}
