.first{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third{
    height: 100vh;
    background-color: burlywood;
}