.first{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    background-image: url('../assets/img/home.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transform: translateZ(0);

}
.second{
    height: 100vh;
    background-image: url('../assets/img/second.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
    transform: translateZ(0);

}
.third{
    height: 150vh;
    background-image: url('../assets/img/thord.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateZ(0);
}
.end{
    font-size: 12rem;
    position: absolute;
    top: 30%;
    color: white;
	mix-blend-mode: exclusion;
}
.first-inner{
    display: flex;
    justify-content: center;
    align-items: center;

}
.texthome{
    position: absolute;
    top: 15%;
    font-size: 9rem;
    justify-content: center;
}
.coverimghome{
    position: absolute;
    z-index: 1;
    width: 150%;
    transform: translateZ(0);
}


/* mobile Screens and tab */
@media (max-width:768px) {
    .coverimghome{
        width: 200%;
    }
    .texthome{
        font-size: 7rem;
    }
}
@media (max-width:426px) {
    .coverimghome{
        width: 500%;
    }
    .texthome{
        font-size: 6rem;
        margin-left: 100px;
    }
    .third{
        height: 120vh;
    }
}
@media (max-width:376px) {
    .coverimghome{
        width: 400%;
    }
    .texthome{
        font-size: 5rem;
    }
}
